/* DON'T TOUCH THIS! */

.navbar {
  background-color: black;
  color: antiquewhite;
  text-align: center;
  text-transform: uppercase;
}

.menu {
  display: flex;
  width: 100%;
  justify-content: center;
}

.menu-item {
  color: aliceblue;
  padding: 2.2em;
}

@media only screen and (max-width: 750px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}

/* DON'T TOUCH THIS! */

/* Your goal is to turn basic HTML into a responsive, functional navbar, 
which includes both arranging the items and styling them. 
The navbar must stretch across the whole page & have a background color set. 
The items must be arranged horizontally & be placed below the title, 
which is centered in the middle of the navbar. 
Good luck! */
